@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Delius&family=Funnel+Display:wght@300..800&display=swap');

* {
    margin: 0px;
    padding: 0Px;
}

html,
body {
    background-color: darkgray;
    min-height: 100vh;

}

header {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: black;
    text-align: center;

}

header h1 {
    font-size: 3em;
    font-variant: small-caps;
    font-family: 'Delius', cursive;
    color: #ffff;
    padding: 10px;
    padding-bottom: 20px;
}

header p {
    color: white;
    font-family: 'Funnel Display', sans-serif;

}

header a {
    color: white;
    text-decoration: none;
    font-weight: negrito;
}

header a:hover,
footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: 'Funnel Display', sans-serif;
    font-size: 1.7em;
}

section>p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(54, 54, 54, 0.815);
    background-attachment: fixed;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.685);
}

section.imagem>p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.568);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.658);
    background-size: cover;
    
}

section#img01 {
    background-image: url(../img/background001.jpg);
    background-position: right center;

}

section#img02 {
    background-image: url(../img/background002.jpg);
}

footer {
    height: 50px;
    padding-top: 20px;
    background-color: black;
    color: white;
    font-family: 'Funnel Display', sans-serif;
    text-align: center;
}

footer p {
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}